<header> <!-- Se usa como encabezado de la pagina web o articulo -->
   <a href="/"> <!-- El elemento ancla se usa como un enlace a otras paginas web o archivos dentro de la misma pagina -->
      <h1 class="titulo">FrontEnd Store</h1> <!-- Se usan para títulos de los sitios web, donde <h1> es el mas importante, hasta el <h6> que es el menos resaltante, estos mejoran el SEO de la página. -->
   </a>
</header>