<nav> <!-- Usado para la navegacion de la pagina -->
   <ul> <!-- Permite crear listas NO ordenadas, generalmente se muestran con viñetas -->
      <li> <!-- Define un elemento de la lista -->
         <img src="../img/shopping-cart.png" alt="Shopping-cart">
         <a class="nav_enlace" id="tienda" href="/">Tienda</a>
      </li>
      <li>
         <img src="../img/grupo.png" alt="Grupo">
         <a class="nav_enlace" id="nosotros" href="/nosotros">Nosotros</a>
      </li>
      <li>
         <img src="../img/letra.png" alt="Correo">
         <a class="nav_enlace" id="contacto" href="/contacto">Contacto</a>
      </li>
   </ul>
</nav>