<main class="container cont-login">
   <form action="/login" method="post" class="form signin">
      <h2>Sign In</h2>
      <div class="inputBox">
         <input name="email" type="text" required="required">
         <i class="fa-regular fa-user"></i>
         <span>Email</span>
      </div>
      <div class="inputBox">
         <input name="password" type="password" required="required">
         <i class="fa-solid fa-lock"></i>
         <span>Password</span>
      </div>
      <div class="inputBox">
         <input type="submit" value="Login">
      </div>
      <p>No estás resgitrado/a ? <a href="/register" class="create">Crear Cuenta</a></p>
   </form>
</main>