<main class="contenedor">

   <h1>Sobre Nosotros</h1>

   <section class="grid-nosotros">
      <article class="nosotros-texto">
            <p>Somos una compañia que se encarga de distribuir las mejores franelas de tus lenguajes de programacion y frameworks preferidos, con la mejor calidad y la mejor atencion, contamos con una gran variedad en los colores y tallas, rapidez y seguridad en los envios.</p>
            <p>Siempre quisiste tener una franela con el logo o nombre del lenguaje o framework que utilizas dia a dia? Bueno, ahora te lo tenemos, con envio nacional y los mejores precios del pais.</p>
            <p>Que esperas para comprar con nosotros? Hazlo ya!</p>
      </article>
      <img class="nosotros-img" src="img/nosotros.jpg" alt="">
   </section>

   <section class="contenedor">
      <h2 >¿Por qué comprar con nosotros?</h2>
      
      <div class="bloques">
         <article class="bloque">
            <img class="bloque-imagen" src="img/icono_1.png" alt="Por qué comprar">
            <h3 class="bloque_titulo">El mejor precio</h3>
            <p>Contamos con los mejores precios de la ciudad y de la mayoria del pais, no esperes mas y compra tu franela de programador.</p>
         </article> <!--Bloque-->
         <article class="bloque">
            <img class="bloque-imagen" src="img/icono_2.png" alt="Por qué comprar">
            <h3 class="bloque_titulo">Para Devs</h3>
            <p>Javascript, VueJS, ReactJS y/o entre otros lenguajes y frameworks ta han hecho un gran programador? ¿Por que no usar una franela usando su logo? Adquierela ya en nuestro sitio web.</p>
         </article> <!--Bloque-->
         <article class="bloque">
            <img class="bloque-imagen" src="img/icono_3.png" alt="Por qué comprar">
            <h3 class="bloque_titulo">Envío Gratis</h3>
            <p>Contamos con promociones eventuales de envios gratis a nivel nacional, atento a nuestras redes sociales para que no te pierdas estas promociones.</p>
         </article> <!--Bloque-->
         <article class="bloque">
            <img class="bloque-imagen" src="img/icono_4.png" alt="Por qué comprar">
            <h3 class="bloque_titulo">La Mejor Cálidad</h3>
            <p>Nuestros productos son de la mejor calidad, la mejor tela, no pierden color, las manchas suelen salir con facilidad, no se cae su logo, no esperes mas y compra tu franela.</p>
         </article> <!--Bloque-->
      </div>
   </section>
</main>